<h2>Componente gato</h2>
<div *ngIf="visible" [style.color]="'green'">
    Mi gato se llama {{gato.nombre}} y tiene {{gato.edad}} años
</div>
<button (click)="cambiaVisibilidad()">Cambiar visibilidad</button>
<hr>
<h3>Listado de gatos</h3>
<table>
    <tr><th>Nº</th><th>Nombre</th><th>Raza</th><th>Edad</th></tr>
    <tr *ngFor="let gatito of arrayGatos; index as i">
        <td>{{i + 1}}</td>
        <td>{{gatito.nombre}}</td>
        <td>{{gatito.raza}}</td>
        <td *ngIf="gatito.edad != -1">{{gatito.edad}}</td>
        <td *ngIf="gatito.edad == -1"></td>
        <td><button (click)="delGato(i)">Eliminar</button></td>
    </tr>
</table>
<h3>Nuevo gato</h3>
Nombre <input [(ngModel)]="gato.nombre">
Raza <input [(ngModel)]="gato.raza">
Edad <input [(ngModel)]="gato.edad">
<button (click)="addGato()">Añadir gato</button>